body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/sunset11.jpeg") no-repeat center center fixed;
  -webkit-background-size:contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 40px;
}

.input {
  margin-right: 10px;
  border-radius: 10px;;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.04);
  padding-left: 5px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

.display-flex {
  display: flex;
  justify-content: center;
}

.no-margin {
  margin: 0;
}
.bold {
  font-weight: bold;
}


.tram-nr-blue {
  color: blue;
  font-size: 15px;
}

.tram-nr-red {
  color: red;
  font-size: 15px;
}

.clock {
  margin-bottom: 5px;
}
